@charset "UTF-8";
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #FFEFD5;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

header img {
    max-height: 100px;
}

.heading {
    font-size: 60px; 
    color: #FFA648;
}

.container {
    height: 450px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}

.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login, .signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 250px;
}

.form-section {
    height: 350px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.form-section-move {
    left: -500px;
}

.login-box, .signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.signup-box input[type="text"],
.signup-box input[type="password"],
.signup-box input[type="email"],
.signup-box input[type="tel"],
.signup-box input[type="gender"] {
    width: 300px;
    height: 40px;
    font-size: 18px;
    display: block; 
    margin: 5px auto; 
}

.signup-box .btn-group {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.signup-box .btn-group .btn-check {
    transform: scale(0.7);
}

.signup-box .btn-group label {
    padding: 2px 6px;
    font-size: 12px; 
    margin: 0; 
    display: flex;
    align-items: center; 
}

.signup-box .clkbtn {
    width: auto; 
    padding: 10px 20px;
    margin-top: 15px; 
    height: auto;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    max-width: 400px;
    height: 70px;
    font-size: 18px;
    margin-bottom: 10px;
}

.ele {
    width: 75%;
    max-width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}

.clkbtn {
    width: 100%;
    max-width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.login-box .clkbtn {
    margin-top: 20px;
}

.heading, .login, .signup, .clkbtn {
    font-family: 'Cafe24Ssurround', sans-serif;
}

